* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
    padding-left: 6vw;
    overflow-x: hidden;
    background-image: url('../Fotos/fundoheart.png');
}

nav.menu-lateral {
    z-index: 1;
    width: 6vw;
    height: 100%;
    background-color: #Fda26b;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #fc8489;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    height: 100vh;
}

nav.menu-lateral.expandir {
    width: 20vw
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir>i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #fc8489;
}


ul li.item-menu:hover {
    background: #ff0077;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}

/* apresentação */


#secao-inicio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff5d1;
    color: #333;
    padding: 30px;
    margin: 30px auto;
    max-width: 600px;
    border-left: 8px solid #f14b47;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    box-shadow: 10px 4px 12px rgba(0, 0, 0, 0.15);
}

.inicio-conteudo {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #FFBD59;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    text-align: center;
    align-items: center;
}

.quadrado {
    color: #f14b47;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.elemento-quadrado {
    color: #ffffff;
    font-size: 1.4em;
    line-height: 1.6;
}



/* Grafico inicio  */

.Painel-Dash {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Painel-Dash canvas {
    display: flex;
    flex-direction: row;
}


#cards {
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    height: 40%;
    align-self: center;
    margin: 0% 0% 0.2% 1.5%;
    justify-content: center;
}

.card {
    width: 20%;
    margin: 0.3% 0.5% 0.3% 0.5%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    text-align: center;
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.1);
    border-radius: 1vh;
    background-color: whitesmoke;
}

.dado_card {
    font-size: x-large;
}


.Painel-grafico {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    margin-top: 2vh;
}


.grafico canvas {
    margin-top: 30px;
    max-width: 60vw;
    min-width: 90vh;
    max-height: 400px;
    box-shadow: 1vh 1vh 1vh rgba(0.1, 0, 0, 0.1);
    /* margin-left: 150px; */
}

#barras1 canvas {
    height: 15px;
}


/* Quiz  */

.quiz-painel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.txt-quiz {
    margin-top: 20px;
    box-sizing: border-box;
    box-shadow: #333;
    background-color: #fff;
    border-radius: 1vh;
    text-align: center;
    color: #d16ba5;
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0.3% 0.5% 0.3% 0.5%;
}

.quizContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

#quiz-box {
    max-width: 700px;
    width: 100%;
    text-align: left;
    background-color: #fffafc;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}


#result {
    margin-top: 20px;
    box-sizing: border-box;
    box-shadow: #333;
    background-color: #fff;
    border-radius: 1vh;
    text-align: center;
    color: #d16ba5;
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0.3% 0.5% 0.3% 0.5%;
}

