* {
    margin: 0;
    padding: 0;
}

.nave{
    display: flex;
    height: 13vh;
    background: #ffbd59;   
    align-items: center;
    justify-content: space-around;
}

#img_logo{
    width: 10vw;
}

.logo-img {
    display: flex;
    align-items: flex-start;
    padding-left: 50px;
    width: 65%;

}

#containerNav{
    margin-right: 50px;
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 19px;
    text-decoration: none;
}

#containerNav a {
    font-family: "Open Sans", sans-serif ;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#navHeader{
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Modificando o Painel */
.painel-main{
    width: 100%;
}
.painel-config
{
    width: 100%;
}

/* painel-texto*/
.painel-intro{
    padding: 40px;
}
.txt-intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-left: 5%;
    max-width: 60%;
}

.texto-intro-titulo{
    margin: 0;
    font-size: 25px;
    text-align: left;
}

.txt-intro-corpo{
    margin: 10px;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}
/* Organizando os 'dados mocados'*/
.intro-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    flex-wrap: wrap;
    gap: 30px;
}


.txt-intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-left: 5%;
    max-width: 60%;
}


.txt-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
    text-align: right;
    gap: 20px;
    padding-right: 5%;
}

